<!DOCTYPE html>
<html>
	<h1>Booking Confirmation</h1>
	<body>
		<p>
			<h4><%= show.movie.name %></h4>
			<p><%= show.cinema.name %></p>
			<p><%= show.showTime %></p>
			<p><%= seat_no%></p>>
			<img src = <%= show.cinema.image %>		
		</p>
	</body>
</html>
